In [7]:
from pyspark.sql import SparkSession
import findspark
import os

os.environ['HADOOP_CONF_DIR'] = '/etc/hadoop/conf'
os.environ['YARN_CONF_DIR'] = '/etc/hadoop/conf'

findspark.init()
findspark.find()

'/usr/local/lib/python3.8/dist-packages/pyspark'

In [12]:
spark = SparkSession.builder \
    .master('yarn') \
    .config('spark.driver.memory', '1g') \
    .config('spark.driver.cores', 1) \
    .appName('DF transform test') \
    .getOrCreate()

23/07/23 19:35:12 WARN Client: Neither spark.yarn.jars nor spark.yarn.archive is set, falling back to uploading libraries under SPARK_HOME.

---

In [13]:
events = spark.read.json("/user/master/data/events/date=2022-05-25")
events.select("event.message_from").filter("event_type == 'reaction'").count()

23/07/23 19:36:43 WARN YarnScheduler: Initial job has not accepted any resources; check your cluster UI to ensure that workers are registered and have sufficient resources
23/07/23 19:36:58 WARN YarnScheduler: Initial job has not accepted any resources; check your cluster UI to ensure that workers are registered and have sufficient resources
23/07/23 19:37:13 WARN YarnScheduler: Initial job has not accepted any resources; check your cluster UI to ensure that workers are registered and have sufficient resources
23/07/23 19:37:28 WARN YarnScheduler: Initial job has not accepted any resources; check your cluster UI to ensure that workers are registered and have sufficient resources
23/07/23 19:37:43 WARN YarnScheduler: Initial job has not accepted any resources; check your cluster UI to ensure that workers are registered and have sufficient resources
23/07/23 19:37:58 WARN YarnScheduler: Initial job has not accepted any resources; check your cluster UI to ensure that workers are registered and have sufficient resources

364815

In [14]:
spark.stop()

---

In [0]:
spark = SparkSession.builder \
    .master("local") \
    .appName("Learning DataFrames") \
    .getOrCreate()

In [20]:
# данные первого датафрейма
book = [('Harry Potter and the Goblet of Fire', 'J. K. Rowling', 322),
        ('Nineteen Eighty-Four', 'George Orwell', 382),
        ('Jane Eyre', 'Charlotte Brontë', 159),
        ('Catch-22', 'Joseph Heller', 174),
        ('The Catcher in the Rye', 'J. D. Salinger', 168),
        ('The Wind in the Willows', 'Kenneth Grahame', 259),
        ('The Mayor of Casterbridge', 'Thomas Hardy', 300),
        ('Bad Girls', 'Jacqueline Wilson', 299)
        ]
# данные второго датафрейма
library = [
    (322, "1"),
    (250, "2"),
    (400, "2"),
    (159, "1"),
    (382, "2"),
    (322, "1")
]
# названия атрибутов
columns = ['title', 'author', 'book_id']
columns_library = ['book_id', 'Library_id']
# создаём датафреймы
df = spark.createDataFrame(data=book, schema=columns)
df_library = spark.createDataFrame(data=library, schema=columns_library)
# напишите ваш код ниже
df \
    .join(df_library, 'book_id', 'left_semi') \
    .select('title') \
    .show(truncate=False)

+-----------------------------------+
|title                              |
+-----------------------------------+
|Jane Eyre                          |
|Harry Potter and the Goblet of Fire|
|Nineteen Eighty-Four               |
+-----------------------------------+

In [22]:
# данные первого датафрейма
book_1 = [('Harry Potter and the Goblet of Fire', 'J. K. Rowling', 322),
        ('Nineteen Eighty-Four', 'George Orwell', 382),
        ('Jane Eyre', 'Charlotte Brontë', 159),
        ('Catch-22', 'Joseph Heller',  174),
        ('The Catcher in the Rye', 'J. D. Salinger',  168),
        ('The Wind in the Willows', 'Kenneth Grahame',  259),
        ('The Mayor of Casterbridge', 'Thomas Hardy',  300),
        ('Bad Girls', 'Jacqueline Wilson',  299)
]
# данные второго датафрейма
book_2 = [
        ('Black Beauty',657 ,'Anna Sewell'),
        ('Artemis Fowl',558,'Eoin Colfer'),
        ('The Magic Faraway Tree', 567,'Enid Blyton'),
        ('The Witches', 567,'Roald Dahl'),
        ('Frankenstein',567 ,'Mary Shelley'),
        ('The Little Prince',557 ,'Antoine de Saint-Exupéry'),
        ('The Truth', 576 ,'Terry Pratchett')
]
# названия атрибутов
columns_1= ['title', 'author', 'book_id']
columns_2 = ['title', 'book_id', 'author']
# создаём датафреймы
df_1 = spark.createDataFrame(data=book_1 , schema=columns_1)
df_2  = spark.createDataFrame(data=book_2 , schema=columns_2)
# напишите ваш код ниже
df_1.unionByName(df_2).show(truncate=False)

+-----------------------------------+------------------------+-------+
|title                              |author                  |book_id|
+-----------------------------------+------------------------+-------+
|Harry Potter and the Goblet of Fire|J. K. Rowling           |322    |
|Nineteen Eighty-Four               |George Orwell           |382    |
|Jane Eyre                          |Charlotte Brontë        |159    |
|Catch-22                           |Joseph Heller           |174    |
|The Catcher in the Rye             |J. D. Salinger          |168    |
|The Wind in the Willows            |Kenneth Grahame         |259    |
|The Mayor of Casterbridge          |Thomas Hardy            |300    |
|Bad Girls                          |Jacqueline Wilson       |299    |
|Black Beauty                       |Anna Sewell             |657    |
|Artemis Fowl                       |Eoin Colfer             |558    |
|The Magic Faraway Tree             |Enid Blyton             |567    |
|The Witches                        |Roald Dahl              |567    |
|Frankenstein                       |Mary Shelley            |567    |
|The Little Prince                  |Antoine de Saint-Exupéry|557    |
|The Truth                          |Terry Pratchett         |576    |
+-----------------------------------+------------------------+-------+